@tailwind base;
@tailwind components;
@tailwind utilities;
.logo-container {
    @apply object-contain h-full w-auto cursor-pointer flex items-center;
}

.header {
    @apply flex  flex-row justify-between bg-yellow-custom w-full h-20 px-2 py-2 items-center;
}
.navigation-container{
    @apply flex flex-row items-center space-x-6;
}
.custom-navigation-container{
    @apply flex flex-row items-center space-x-2;
}
.navigation {
    @apply flex space-x-4;
}
.navigation > li> a {
    @apply text-black transition-colors duration-200 font-bold pb-6;
}
.navigation > li.menu-item-has-children > a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* Adjust the size and color */
    border-right: 5px solid transparent; /* Adjust the size and color */
    border-top: 5px solid black; /* Change this to the color of the arrow */
    margin-left: 5px; /* Spacing between text and arrow */
    vertical-align: middle; /* Align the arrow vertically */
}
.mobile-navigation > ul > li.menu-item-has-children > a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* Adjust the size and color */
    border-right: 5px solid transparent; /* Adjust the size and color */
    border-top: 5px solid black; /* Change this to the color of the arrow */
    margin-left: 5px; /* Spacing between text and arrow */
    vertical-align: middle; /* Align the arrow vertically */
}
.navigation > li > a:hover{
    @apply text-white;
}
.navigation > li > ul {
    display: none;
    position: absolute;
    background-color: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 999;
    @apply transition-opacity duration-200 w-max rounded-md mt-4;
}
.navigation > li > ul > li > a{
    @apply font-bold;
}
.navigation ul li {
    width: 200px; /* Adjust width as needed */
}

/* Display the dropdown on hover */
.navigation li:hover > ul {
    display: block;
}

/* Adjust parent navigation styling */
.navigation li {
    position: relative;
    display: inline-block;
}

/* Styling for submenu items */
.navigation li ul li {
    display: block;
    width: 100%; /* Take up full width */
}

/* Add hover styles */
.navigation li ul li a {
    padding: 10px;
    display: block;
    color: white; /* Text color */
    text-decoration: none;
}

/* Mobile Navigation Base */
.mobile-navigation-container {
    @apply bg-yellow-custom p-4 pr-4;
    height:100vh;
    width: 100vw;
    position: fixed; /* Makes the modal fixed in place */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Ensures it's above other content */
    overflow-y: auto; /* Allow scrolling within the modal itself if content is too long */
}

/* Menu styles */
.mobile-navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @apply pl-2;
}

/* List items */
.mobile-navigation > li {
    @apply w-full h-max border-black border-b py-6;
}

/* Links */
.mobile-navigation > li > a {
    @apply text-3xl py-4 font-bold;
}
.mobile-navigation > li > ul > li {
    @apply border-black border-b;
}
.mobile-navigation > li > ul > li > a{
    @apply text-white font-bold py-1;
}
/* Sub-menus are hidden by default */
.mobile-navigation ul.sub-menu {
    display: none; /* Hidden by default */
    padding-left: 1rem; /* Add indentation for sub-items */
    margin-top: 0.5rem; /* Adjust vertical spacing */
    gap: 0.5rem; /* Space between sub-items */
}

/* Customize icons for dropdowns */
.menu-item-has-children .icon {
    display: inline-block;
    margin-left: 0.5rem;
}

/* Adjust sub-menu links */
.mobile-navigation ul.sub-menu > li > a {
    font-size: 1rem;
    font-weight: normal;
}

/* Display sub-menu when the parent is active (triggered by jQuery) */
.menu-item-active > .sub-menu {
    display: block;
}
.swal-add-to-cart{
    @apply fixed top-0 right-0 mt-4 mr-4 w-max h-max p-6;
}
.swal-add-to-cart-icon{
    transform: scale(0.5);
}
.swal-add-to-cart-title{
    @apply text-2xl font-bold text-black ;
}
.swal-remove-from-cart{
    @apply fixed top-0 right-0 mt-4 mr-4 w-max h-max p-6;
}
.swal-remove-from-cart-icon{
    transform: scale(0.5);
}
.swal-remove-from-cart-title{
    @apply text-2xl font-bold text-red-500 ;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto; /* Center the loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.swal-loading-modal {
    backdrop-filter: none; /* Remove any backdrop effect */
    box-shadow: none; /* Remove shadow */
}
.navigation-item {
    @apply font-semibold text-black text-base hover:text-white transition-colors duration-150;
}
.rrstore-navigation-container{
    @apply flex flex-row items-center space-x-6;
}
.rrstore-custom-navigation-container{
    @apply flex flex-row items-center space-x-2;
}
.rrstore-navigation {
    @apply flex space-x-4;
}
.rrstore-navigation-item {
    @apply font-semibold text-black text-base hover:text-white transition-colors duration-150;
}
.rrstore-product-card{
    @apply border-black border min-w-48 m-2 max-w-48 h-max flex flex-col px-2 py-1 rounded-lg items-center hover:scale-105 transition-all;
}
.ignore-css{
    all: unset !important;
}
.rrstore-product-card-image-container{
    @apply w-full mt-4 mb-4 h-full flex justify-center;
}
.rrstore-product-card-image{
    @apply  h-32 w-auto object-cover;
}
.rrstore-product-card-details{
    @apply flex flex-col w-full items-center cursor-pointer;
}
.rrstore-product-card-title{
    @apply text-black font-bold text-lg;
}
.rrstore-product-card-price-container{
    @apply flex flex-row justify-center items-center w-full h-auto;
}

.rrstore-product-card-price{
    @apply text-black font-bold text-base;
}
.rrstore-product-card-actions-container{
    @apply flex-row flex space-x-2 w-full h-8 items-center justify-center my-4;
}
.rrstore-product-card-actions-number{
    @apply border-blue-800 border-2 w-1/2 h-full;
}
.rrstore-product-card-description{
    @apply text-black text-sm;
}
.rrstore-products-page-container{
    @apply flex flex-col w-full h-max min-h-screen overflow-y-auto relative;
}
.rrstore-products-page-actions{
    @apply flex flex-row items-center justify-start w-full h-max;
}
.rrstore-products-container{
    @apply flex flex-row flex-wrap overflow-x-auto overflow-y-hidden min-w-52 h-max min-h-screen mt-4;
}
.rrstore-products-page-title{
    @apply text-2xl font-bold h-auto w-screen flex flex-row justify-center items-center;
}
.rrstore-categories-container{
    @apply min-w-72 max-w-72 h-auto bg-yellow-200 rounded-b-lg rounded-r-md absolute top-0 -translate-x-full transition-transform duration-200;
}
.rrstore-categories-container.show{
    @apply translate-x-0;
}
.rrstore-gray-effect{
    opacity: 0.rrstore-8;
    background-color: rgba(31, 31, 31, 0.rrstore-422);
}
.rrstore-disabled{
    pointer-events: none;
}
.rrstore-categories-container-content{
    @apply border-blue-800 rounded-b-lg p-4 h-max flex flex-col space-y-2;
}
.rrstore-categories-container-control{
    @apply flex flex-row justify-end pr-4;
}
.rrstore-categories-container-title{
    @apply  font-bold text-black text-lg;
}

.rrstore-price-picker{
    @apply flex flex-col space-x-0 space-y-2;
}
.rrstore-categories-picker-checkboxes{
    @apply flex flex-col space-y-2 w-full h-max;
}
.rrstore-checkbox{
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
}

.rrstore-product-card-actions-cart{
    @apply w-1/4 h-full p-1 bg-yellow-custom rounded-sm text-white flex items-center justify-center cursor-pointer;
}
.rrstore-product-card-actions-cart-header{
    @apply w-auto h-auto p-1 bg-yellow-400 rounded-sm text-white flex items-center justify-center;
}
.rrstore-product-card-actions-details{
    @apply w-1/2 border-blue-800 border-2 h-full p-1 bg-blue-800 rounded-sm text-white flex items-center justify-center cursor-pointer;
}
.rrstore-product-card-actions-number{
    @apply w-1/2 h-auto p-1 bg-white rounded-sm text-black;
}
.rrstore-cart-page-container{
    @apply flex flex-row h-full w-full p-4 space-x-2 items-stretch;
}
.rrstore-cart-page-container.vertical{
    @apply  flex-col-reverse space-y-4 space-x-0 h-max;
}
.rrstore-table-container{
    @apply bg-yellow-200 border-yellow-custom border-2 w-fit h-full;
}
.rrstore-cart-user-actions-container{
    @apply border-blue-800 mt-4 border-2 min-w-96 w-96 p-4 flex flex-col h-max justify-start rounded-lg space-y-6;
}
.rrstore-cart-user-actions-container.vertical{
    @apply w-full;
}
.rrstore-cart-user-actions-title{
    @apply text-2xl text-black font-bold;
}
.rrstore-cart-user-actions-details{
    @apply text-base text-black;
}
.rrstore-cart-user-actions-buttons-container{
    @apply w-full h-max p-4 flex flex-row space-x-4 items-center justify-center;
}
.rrstore-cart-user-actions-checkout {
    @apply bg-blue-800 text-white rounded-sm p-2;
}

.rrstore-cart-user-actions-checkout.disabled {
    @apply bg-gray-400 text-gray-200 cursor-not-allowed;
}
.required-field::after {
    content: " *";
    color: red;
}
.rrstore-cart-user-actions-save-address{
    @apply bg-yellow-custom text-white rounded-sm p-2;
}
.rrstore-cart-table-container{
    @apply flex-col w-1/2 mt-4 bg-yellow-200 border-yellow-400 border-2 h-auto flex-grow;
}
.rrstore-cart-table-container.vertical{
    @apply w-full;
}
.rrstore-cart-table-entry-titles{
    @apply border-b-2 bg-yellow-400 border-yellow-400 p-2 w-full flex flex-row font-bold text-lg text-black;
}
.rrstore-cart-table-entry{
    @apply border-b-2 border-yellow-300 p-2 w-full flex flex-row justify-start items-center;
}
.rrstore-cart-table-entry-title{
    @apply w-1/2 flex-shrink justify-center;
}
.rrstore-cart-table-entry-price{
    @apply w-1/6 flex-shrink-0 justify-center text-blue-800 font-bold;
}
.rrstore-cart-table-entry-actions{
    @apply w-2/6 flex flex-row space-x-2 flex-shrink-0;
}
.rrstore-edit-button{
    @apply bg-blue-800 text-white rounded-sm p-2 cursor-pointer;
}
.rrstore-delete-button{
    @apply   p-2 bg-red-600 rounded-md w-max h-max text-white cursor-pointer;
}
.rrstore-cart-item-actions{
    @apply flex flex-row items-center justify-start space-x-2;
}
.rrstore-product-page-container{
    @apply flex flex-row w-full h-full p-20;
}
.rrstore-product-page-image-container{
    @apply w-1/2 h-screen flex items-center justify-center;
}
.rrstore-product-page-image{
    @apply w-full h-full object-contain;
}
.rrstore-product-page-info-container{
    @apply w-1/2 h-max rounded-lg p-5  flex flex-col space-y-2;
}
.rrstore-product-page-product-title{
    @apply text-2xl font-bold text-black w-full h-auto;
}
.rrstore-product-page-product-description{
    @apply text-base text-black w-full h-full h-auto mb-6;
}
.rrstore-product-page-actions-container{
    @apply w-max h-max flex flex-row space-x-2 mt-4;
}
.rrstore-product-page-actions-cart{
    @apply bg-yellow-custom w-max px-3 py-2 rounded-md text-white;
}
.rrstore-product-page-actions-info{
    @apply bg-blue-800 w-48 px-3 py-2 rounded-md text-white;
}
.rrstore-product-page-actions-input{
    @apply p-2 rounded-md w-32 border-blue-800 border-2;
}
.rrstore-product-page-product-price-container{
    @apply w-full h-auto;
}
.rrstore-product-page-product-price{
    @apply text-blue-800 font-bold text-lg w-full h-auto;
}
.rrstore-body{
    @apply h-screen w-screen;
}


